Magic 271485
Revision Verdi_V-2023.12-SP2-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1920 761 368 492

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/velu/Documents/eecs570/JPEG-Decompression-Accelerator/verilog/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 3895.182592
cursor 1050.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 9

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/velu/Documents/eecs570/JPEG-Decompression-Accelerator/verilog/inter.fsdb"
addSignal -h 15 -UNSIGNED -UDEC /loeffler2d_idct_tb/valid_count[31:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/clk
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/rst
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/valid_in
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/channel_in[1:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/channel_out[1:0]
addSignal -h 15 -UNSIGNED -UDEC /loeffler2d_idct_tb/valid_count[31:0]
addSignal -h 15 -2COMP -UDEC /loeffler2d_idct_tb/idct2d_module/idct_in[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/valid_out
addSignal -h 15 -UNSIGNED -UDEC /loeffler2d_idct_tb/idct2d_module/idct_out[7:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/channel_out[1:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage1_valid_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2_valid_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3_valid_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage1_valid_in
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2_ready_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3_ready_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage1_block_in[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage1_block_out[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2_block_out[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3_block_out[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage1/valid_in
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage1/fifo_count[12:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage1/fifo_head[12:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage1/fifo_tail[12:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/valid_in
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/stage2_valid_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/idct_in_extended[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/lof_1d_stage_in_use
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/row_idct_valid
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage2/row_input_cnt[3:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage2/row_input_cnt_n[3:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/row_idct_input[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/valid_row_out
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage2/valid_row_out_cnt[3:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage2/valid_row_out_cnt_n[3:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/row_idct_output[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/mem_rows[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage1/block_in[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage1/stage1_block_out[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/block_in[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage2/stage2_block_out[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/valid_in
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/block_in[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/stage3_ready_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/stage3_block_out[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/stage3_valid_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/idct_in_reg[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/col_idct_valid
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage3/col_input_cnt[3:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage3/col_input_cnt_n[3:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/col_idct_input[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/valid_col_out
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage3/valid_col_out_cnt[3:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage3/valid_col_out_cnt_n[3:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/col_idct_output[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/mem_cols[7:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage3/active
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage4/valid_in
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage4/channel_in[1:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage4/block_in[7:0]
addSignal -h 15 -UNSIGNED -UDEC /loeffler2d_idct_tb/idct2d_module/stage4/stage4_block_out[7:0]
addSignal -h 15 -UNSIGNED -HEX /loeffler2d_idct_tb/idct2d_module/stage4/stage4_channel_out[1:0]
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage4/stage4_valid_out
addSignal -h 15 /loeffler2d_idct_tb/idct2d_module/stage4/idct_out_normalized[7:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

